<!DOCTYPE html>
<html>
<head>
	<title>Pictures</title>
	<link rel="stylesheet" href="style/subdimension-pictures.css" title="Style" type="text/css" charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <a href="#">login</a>
		
		<h1>pictures</h1>
		
		<nav>
		<ul><li><a href="#">stream</a></li><li><a href="#">albums</a></li><li><a href="#">about</a></li></ul>
		</nav>
		
		<p>lorem ipsom whatever, thingy</p>
		
		
    </header>
    <section>
		
		{{ content }}
    
    </section>
</body>
</html>